.box {
  background-color: black;
  width: 400px;
  height: 400px;
  margin: 2rem auto;

  border: thick solid red;
}

.border-radius {
  border-radius: 2rem;
  border-bottom-left-radius: 5rem;
  border-radius: 2rem;
}

.border-radius2 {
  border-radius: 2rem / 4rem;
}

.border-radius3 {
  border-radius: 50%;
}

.outline {
  color: white;
  text-align: center;
  outline-width: 5px;
  outline-style: dashed;
  outline-color: chartreuse;
  outline: thick solid blueviolet;
  /* border-width: 100px; */
  /* outline-width: 100px; */
  outline-offset: -3rem;
}
