html {
  font-family: "Courier New", Courier, monospace;
}
.percentages {
  background-color: aqua;
  width: 80%;
  font-size: 100%;
  padding: 5%;
  margin: 20% 10%;
}
h1 {
  color: green;
}
h2 {
  color: red;
}

.height-parent {
  width: 500px;
  height: 500px;
  background-color: brown;
}
.height-child {
  width: 50%;
  height: 50%;
  background-color: chocolate;
}

.viewport {
  background-color: cadetblue;
  width: 100vw;
  height: 100vh;
  font-size: 5vw;
}
.vmin,
.vmax {
  background-color: darkorchid;
  border: thick solid aqua;
  width: 50vmax;
  height: 50vmin;
}
