html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.box {
  width: 200px;
  height: 200px;
  border: thick solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.shadows {
  color: navy;
  /* box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset; */
  box-shadow: 1rem 1rem 1rem 1rem;
  box-shadow: -1rem -1rem 1rem 1rem;
  box-shadow: 1rem 1rem 1rem 1rem #0005;
  box-shadow: 1rem 1rem 1rem 1rem #f00 inset;
  box-shadow: 1rem 1rem 2rem 0.5rem #0007;
  font-size: 2rem;
  text-align: center;
  /* text-shadow: mov-x mov-y blur-radius color; */
  text-shadow: -1rem -1rem 0.2rem hotpink;
  /* filter: drop-shadow(mov-x mov-y blur-radius color); */
}

.shadows-multiple {
  box-shadow: 1rem 1rem 1rem 1rem #0005, 1rem 1rem 1rem 1rem #f00 inset,
    -0.5rem -0.5rem 0.5rem 2rem navy;
  font-size: 2rem;
  text-align: center;
  text-shadow: -1rem -1rem 0.5rem green, 1rem 1rem 0.5rem greenyellow;
}

.drop-shadow {
  width: 600px;
  height: auto;
}

.drop-shadow img {
  max-width: 100%;
  height: auto;
  /* filter: drop-shadow(mov-x mov-y blur-radius color); */
  filter: drop-shadow(1rem 1rem 1rem yellow);
  box-shadow: 1rem 1rem 1rem 1rem red;
}

.linear-gradient {
  background-image: linear-gradient(red, green);
  background-image: linear-gradient(0deg, red, green, blue);

  background-image: linear-gradient(20deg, red, green, blue);
  background-image: linear-gradient(45deg, red, green, blue);
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    20deg,
    rgba(2, 0, 36, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-image: linear-gradient(180deg, red, green, blue);
  background-image: linear-gradient(360deg, red, green, blue);
  background-image: linear-gradient(to right, red, green, blue);
  background-image: linear-gradient(to top, red, green, blue);
  background-image: linear-gradient(to left, red, green, blue);
  background-image: linear-gradient(to top left, red, green, blue);
  background-image: linear-gradient(to top right, red, green, blue);
  background-image: linear-gradient(to bottom left, red, green, blue);
  background-image: linear-gradient(to bottom right, red, green, blue);
  background-image: linear-gradient(90deg, red 30%, green 60%, blue);
  background-image: linear-gradient(90deg, green 33%, white 34% 67%, red 68%);
}

.radial-gradient {
  background-image: radial-gradient(cyan, magenta);
  background-image: radial-gradient(cyan, magenta, blue);

  background-image: radial-gradient(circle 4rem, cyan 30%, magenta 80%, blue);
  background-image: radial-gradient(circle 100px, cyan 30%, magenta 80%, blue);
  background-image: radial-gradient(
    circle 100px,
    cyan 30%,
    magenta 60%,
    blue 90%
  );
  background-image: radial-gradient(
    circle 100px at top,
    cyan 30%,
    magenta 60%,
    blue 90%
  );
  background-image: radial-gradient(
    circle 100px at bottom right,
    cyan 30%,
    magenta 60%,
    blue 90%
  );

  background-image: radial-gradient(
    ellipse 50px 100px,
    cyan 30%,
    magenta 60%,
    blue 90%
  );
  background-image: radial-gradient(circle 100px, red 50%, white 50%);
}

.conic-gradient {
  background-image: conic-gradient(red, green, blue);
  background-image: conic-gradient(red 50%, green 60%, blue 80%);
  background-image: conic-gradient(
    red 0deg 90deg,
    green 120deg 240deg,
    blue 270deg
  );
  background-image: conic-gradient(
    from 90deg,
    red 0deg 180deg,
    green 120deg 240deg,
    blue 270deg
  );
  background-image: conic-gradient(
    from 180deg,
    red 0deg 90deg,
    green 120deg 240deg,
    blue 270deg
  );
  background-image: conic-gradient(
    from 90deg,
    red 0deg 120deg,
    white 120deg 240deg,
    blue 240deg
  );
}

.repeat-gradient-linear {
  background-image: repeating-linear-gradient(
    90deg,
    red 0 10px,
    green 10px 20px,
    blue 20px 30px
  );
}

.repeat-gradient-radial {
  background-image: repeating-radial-gradient(
    4rem,
    cyan 0 10px,
    magenta 10px 20px,
    yellow 20px 30px
  );
}
.repeat-gradient-conic {
  background-image: repeating-conic-gradient(
    red 0 8%,
    yellow 8% 16%,
    black 16% 24%
  );
}

.chart-gradient {
  background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.donut-gradient {
  background-image: radial-gradient(white 40%, black 41%, transparent 43%),
    conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
  border-radius: 50%;
}

.card {
  border: thick solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  width: 600px;
  height: 400px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.filter {
  /* filter: blur(0.25rem);
  filter: blur(0.15rem);
  filter: brightness(0.75);
  filter: brightness(0.25);
  filter: brightness(2);
  filter: contrast(0);
  filter: contrast(0.7);
  filter: contrast(1);
  filter: contrast(2);
  filter: grayscale(0);
  filter: grayscale(0.75);
  filter: grayscale(1);
  filter: sepia(0);
  filter: sepia(0.25);
  filter: sepia(0.5);
  filter: sepia(0.75);
  filter: sepia(1);
  filter: hue-rotate(0deg);
  filter: hue-rotate(30deg);
  filter: hue-rotate(60deg);
  filter: hue-rotate(120deg);
  filter: hue-rotate(180deg);
  filter: hue-rotate(240deg);
  filter: hue-rotate(330deg);
  filter: invert(0);

  filter: invert(1);
  filter: opacity(0);
  filter: opacity(0.75);
  filter: opacity(1);
  filter: saturate(0.5);
  filter: saturate(0.75);
  filter: saturate(0.6);
  filter: saturate(1);
  filter: saturate(3);

  filter: drop-shadow(1rem 1rem 1rem steelblue); */
  filter: invert(1);
}

.filters-multiple {
  filter: blur(0.1rem) hue-rotate(270deg) opacity(0.75) invert(1);
}

.relative {
  position: relative;
}

.backdrop-filter,
.backdrop-filter-multiple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.backdrop-filter h4 {
  font-size: 3rem;
  background-color: rgba(255, 102, 255, 0.5);
  padding: 2rem;
  color: white;
  border-radius: 1rem;
  backdrop-filter: grayscale(1);
  backdrop-filter: sepia(1);
  backdrop-filter: hue-rotate(180deg);

  backdrop-filter: blur(0.25rem);
}

.backdrop-filter-multiple h4 {
  border-radius: 1rem;
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
  background-color: rgba(255, 102, 255, 0.5);
  backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(0.75) invert(1);
}

.dark-mode {
  background-color: #fff;
  color: #000;
  filter: invert(1);
}

.dark-mode img {
  filter: invert(1);
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.blend-modes img {
  /* mix-blend-mode: normal;
  mix-blend-mode: color;
  mix-blend-mode: color-dodge;
  mix-blend-mode: screen; */
  mix-blend-mode: multiply;
}

.bg-blend-mode {
  background-image: url(/assets/puesta.jpg), url(/assets/aves.png);
  background-size: cover;
  background-blend-mode: normal;
  background-blend-mode: screen;
  background-blend-mode: darken;
  background-blend-mode: multiply;
}

.clip-path {
  clip-path: circle(3rem);
  clip-path: circle(100px at top);
  clip-path: circle(100px at bottom);
  clip-path: circle(100px at left top);
  clip-path: circle(100px at 70% 90%);
  clip-path: ellipse(2rem 1rem);
  clip-path: ellipse(100px 50px at top left);
}
